# Copie este arquivo para .env e preencha os valores.
Remote__Telegram__Token=TOKEN_DO_BOT
Remote__Telegram__AllowedUserId=123456789
Remote__OpenCode__Password=UMA_SENHA_FORTE
Remote__Projects__0__Alias=meu-projeto
Remote__Projects__0__Path=C:\caminho\do\projeto
